.actions {
    display: flex;
    gap: 16px;
}

.probuy{
    display: flex;
    justify-content: center;
    width: 25%;
    direction: rtl;
}
.PaymentMethods{
    display: flex;
    width: 50%;

}
.PaymentMethods img {
    display: flex;
   width: 10%;
   flex: 1;
    padding: 8px;
    cursor: pointer;

}
