@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

*{
    direction: rtl;
    font-family: "Almarai", sans-serif;
}
body{
    scroll-behavior: smooth;
    color: #fff;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: max-content;
    width: 100%;

}
.actions {
    display: flex;
    gap: 16px;
}

.probuy{
    display: flex;
    justify-content: center;
    width: 25%;
    direction: rtl;
}
.PaymentMethods{
    display: flex;
    width: 50%;

}
.PaymentMethods img {
    display: flex;
   width: 10%;
   flex: 1;
    padding: 8px;
    cursor: pointer;

}

section{
    padding: 88px 108px;
}

@media(max-width: 768px){
    section{
        padding: 64px 16px;
    }
    .container{
        flex-direction: column-reverse;
    }
}